body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.cat__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.cat__inner__container {
	display: flex;
	flex-direction: column;
}

.catText {
	display: flex;
	padding: 20px;
}